@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
* {
    margin: 0;
    padding: 0;
    transition: color 0.3s linear;
}
  
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
}

#title {
    width: 50%;
}

#toggle-dark-mode {
    position: absolute;
    left: 0;
    margin-left: 5px;
    width: 10%;
    height: 80%;
    font-weight: 700;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px 1px black;
    transition: background-color 0.3s linear;
}

#toggle-dark-mode.dark-mode {
    background-color: white;
    color: black;
    box-shadow: 0 0 2px 1px white;
}

#toggle-dark-mode.dark-mode:hover {
    border: 1px solid red;
}

#toggle-dark-mode:hover {
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid green;
    transition: background-color 0.2s ease-out, border 0.3s ease-out;
}

body, nav {
    transition: background-color 0.3s linear;
    transition: box-shadow 0.3s linear;
}

*.dark-mode {
    color: white;
}

body.dark-mode {
    background-color: black;
}

nav.dark-mode {
    background-color: black;
    box-shadow: 0 1px 6px 3px white;
}

#new-task.dark-mode:hover, .remove-task.dark-mode:hover, .new-sub-task.dark-mode:hover {
    background-color: rgba(196, 196, 196, 0.1);
    border: 1px solid rgba(196, 196, 196, 0.3);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 5vh;
    width: 100vw;
    margin-bottom: 30px;
    align-items: center;
    box-shadow: 0 1px 6px 3px black;
}

#list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-weight: 700;
    font-size: 2rem;
}

#tasks {
    overflow-wrap: anywhere;
    width: 50%;
}

.task {
    display: flex;
    padding-bottom: 10px;
    column-gap: 10px;
}

.sub-tasks {
    width: 90%;
    font-size: 1.5rem;
    margin-left: 10%;
}

.remove-task {
    flex-basis: 10%;
}

.content {
    flex-basis: 90%;
}

#new-task {
    margin-bottom: 100px;
}

.new-sub-task {
    flex-basis: 10%;
}

#new-task, .remove-task, .new-sub-task {
    width: 50%;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: transparent;
    border: transparent;
}

#new-task:hover, .remove-task:hover, .new-sub-task:hover {
    cursor: pointer;
    background-color: rgba(30, 30, 30, 0.1);
    border: 1px solid rgba(30, 30, 30, 0.3);
    transition: background-color 0.2s ease-out, border 0.3s ease-out;
}