@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

#list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-weight: 700;
    font-size: 2rem;
}

#tasks {
    overflow-wrap: break-word;
    width: 50%;
}

.task {
    padding-bottom: 10px;
}

#new-task {
    width: 50%;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: transparent;
    border: none;
}

#new-task:hover {
    cursor: pointer;
    background-color: rgba(30, 30, 30, 0.1);
    border: 1px solid rgba(30, 30, 30, 0.3);
    transition: background-color 0.2s ease-out, border 0.3s ease-out;
}